<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta
      name="keywords"
      content="Looking for an 2021 summer internship."
    />
    <meta name="description" content="" />
    <meta name="page_type" content="np-template-header-footer-from-plugin" />
    <title>Alejandro Gleason</title>
    <script defer src="/javascripts/jquery.js"></script>
    <script defer src="/javascripts/nicepage.js"></script>
    <link id="main-css" rel="stylesheet" href="/stylesheets/main.css">
    <link id="complementary-css" rel="stylesheet" href="/stylesheets/complementary.css">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"/>
    <link rel="icon" type="image/png" href="/images/AG1.png">
    <meta name="generator" content="Nicepage 2.22.0, nicepage.com" />
    <meta property="og:title" content="Alejandro Gleason" />
    <meta property="og:type" content="website" />
    <meta name="theme-color" content="#478ac9" />
  </head>
  <body>
    <%- body %>
  </body>
</html>
