<body
  data-home-page="Page-1.html"
  data-home-page-title="Page 1"
  class="u-body u-overlap"
>
  <header class="u-clearfix u-header u-header" id="sec-6330">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <a href="/" class="u-image u-logo u-image-1">
        <img
          src="/images/AG.png"
          class="u-logo-image u-logo-image-1"
        />
      </a>
      <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div
          class="menu-collapse"
          style="
            font-size: 1rem;
            letter-spacing: 0;
            font-weight: 700;
            text-transform: uppercase;
          "
        >
          <a
            class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-white u-text-grey-40 u-text-hover-white"
            href="#"
          >
            <svg>
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="#menu-hamburger"
              ></use>
            </svg>
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <defs>
                <symbol
                  id="menu-hamburger"
                  viewBox="0 0 16 16"
                  style="width: 16px; height: 16px;"
                >
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </symbol>
              </defs>
            </svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-spacing-0 u-unstyled u-nav-1">
            <li class="u-nav-item">
              <a
                class="u-button-style u-nav-link u-text-active-white u-text-white u-text-hover-grey-25"
                href="test"
                style="padding: 10px 20px;"
                >General Electric</a
              >
            </li>
            <li class="u-nav-item">
              <a
                class="u-button-style u-nav-link u-text-active-white u-text-white u-text-hover-grey-25"
                href="test"
                style="padding: 10px 20px;"
                >Brounie</a
              >
            </li>
            <li class="u-nav-item">
              <a
                class="u-button-style u-nav-link u-text-active-white u-text-white u-text-hover-grey-25"
                href="test"
                style="padding: 10px 20px;"
                >AQropio</a
              >
            </li>
            <li class="u-nav-item">
              <a
                class="u-button-style u-nav-link u-text-active-white u-text-white u-text-hover-grey-25"
                href="test"
                style="padding: 10px 20px;"
                >IMO Scheduler</a
              >
            </li>
            <li class="u-nav-item">
              <a
                class="u-button-style u-nav-link u-text-active-white u-text-white u-text-hover-grey-25"
                href="test"
                style="padding: 10px 20px;"
                >IMO Sales Point</a
              >
            </li>
            <li class="u-nav-item">
              <a
                class="u-button-style u-nav-link u-text-active-white u-text-white u-text-hover-grey-25"
                href="test"
                style="padding: 10px 20px;"
                >TCP Server</a
              >
            </li>
            <li class="u-nav-item">
              <a
                class="u-button-style u-nav-link u-text-active-white u-text-white u-text-hover-grey-25"
                href="test"
                style="padding: 10px 20px;"
                >LGBTQ+</a
              >
            </li>
          </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div
            class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav"
          >
            <div class="u-menu-close"></div>
            <ul
              class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"
            >
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link"
                  href="test"
                  style="padding: 10px 20px;"
                  >General Electric</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link"
                  href="test"
                  style="padding: 10px 20px;"
                  >Brounie</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link"
                  href="test"
                  style="padding: 10px 20px;"
                  >AQropio</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link"
                  href="test"
                  style="padding: 10px 20px;"
                  >IMO Scheduler</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link"
                  href="test"
                  style="padding: 10px 20px;"
                  >IMO Sales Point</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link"
                  href="test"
                  style="padding: 10px 20px;"
                  >TCP Server</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link"
                  href="test"
                  style="padding: 10px 20px;"
                  >LGBTQ+</a
                >
              </li>
            </ul>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
    </div>
  </header>
  <section class="u-clearfix u-image u-section-1" id="carousel_0cb6">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-text u-text-body-alt-color u-text-1">
        gleason.
      </h1>
      <div
        class="u-grey u-expanded-width u-shape u-shape-rectangle u-shape-1"
      ></div>
      <div
        class="u-align-right u-container-style u-expanded-width-xs u-group u-group-1"
      >
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <p class="u-text u-text-palette-2-light-2 u-text-2">
            I pursue all that I do with an intense passion and 
            create good vibes through collaboration. 
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="u-black u-clearfix u-section-4" id="carousel_1aa7">
    <div
      class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-valign-middle-xs u-sheet-1"
    >
      <div
        class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-repeater u-list-1"
      >
        <div class="u-container-style u-list-item u-repeater-item">
          <div
            class="u-container-layout u-similar-container u-container-layout-1"
          >
            <h3
              class="u-text u-text-default u-text-5"
              data-animation-name="counter"
              data-animation-event="scroll"
              data-animation-duration="3000"
            >
              52,500
            </h3>
            <h6 class="u-text u-text-default u-text-palette-2-light-2 u-text-2">
              Python
            </h6>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item">
          <div
            class="u-container-layout u-similar-container u-container-layout-2"
          >
            <h3
              class="u-text u-text-default u-text-5"
              data-animation-name="counter"
              data-animation-event="scroll"
              data-animation-duration="3000"
            >
              49,500
            </h3>
            <h6 class="u-text u-text-default u-text-palette-2-light-2 u-text-4">
              JavaScript/TypeScript
            </h6>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item">
          <div
            class="u-container-layout u-similar-container u-container-layout-3"
          >
            <h3
              class="u-text u-text-default u-text-5"
              data-animation-name="counter"
              data-animation-event="scroll"
              data-animation-duration="3000"
            >
              28,900<br />
            </h3>
            <h6 class="u-text u-text-default u-text-palette-2-light-2 u-text-6">
              C#
            </h6>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item">
          <div
            class="u-container-layout u-similar-container u-container-layout-4"
          >
            <h3
              class="u-text u-text-default u-text-5"
              data-animation-name="counter"
              data-animation-event="scroll"
              data-animation-duration="3000"
            >
              10,500
            </h3>
            <h6 class="u-text u-text-default u-text-palette-2-light-2 u-text-8">
              SQL
            </h6>
          </div>
        </div>
      </div>
      <div
        class="u-align-left u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-group-1"
      >
        <div
          class="u-container-layout u-valign-bottom-sm u-valign-bottom-xs u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-5"
        >
          <h2 class="u-text u-text-default u-text-9">
            My <b>Fantastic Four Languages</b>
          </h2>
          <p class="u-text u-text-10">
            Computer Science is a never-ending puzzle that I am passionate in solving, therefore, I always keep learning and taking on new projects. 
            Here you can see the lines of code I have developed for my most used languages. 
            Every time I finish a big project, this numbers get updated so that people can get a sense of my current skillset.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section
    class="u-clearfix u-image u-section-3"
    id="carousel_fb2c"
    data-image-width="2460"
    data-image-height="1500"
  >
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div
        class="u-align-right u-border-10 u-border-palette-2-light-2 u-container-style u-expanded-width-xs u-group u-group-1"
      >
        <div class="u-container-layout u-valign-bottom u-container-layout-1">
          <h3 class="u-text u-text-default u-text-palette-2-light-2 u-text-1">
            I believe in the power of programming to transform and improve people's lives around the world.
          </h3>
          <p
            class="u-text u-text-palette-2-light-2 u-active-none u-border-4 u-border-palette-2-light-2 u-none u-btn-1"
            >- myself</p
          >
        </div>
      </div>
    </div>
  </section>
  
  <section class="u-clearfix u-section-6" id="carousel_0ac5">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <h5 class="u-text u-text-default u-text-palette-2-light-2 u-text-1">
        More about me
      </h5>
      <h4 class="u-text u-text-2">
        I am on my way to change the world. My dream is to work somewhere where I can 
        <b>lead with the example, deliver breakthrough results and continue motivating </b> other engineers
        to create technology that works towards a greater human purpose.
      </h4>
      <div
        class="u-align-left u-container-style u-expanded-width u-group u-palette-2-light-2 u-group-1"
      >
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h3 class="u-text u-text-default u-text-3">Contact Information</h3>
            <p class="u-text u-text-4">
              Do not hesitate to contact me for any inquiries. You can find me on any social media listed below. 
              I will be sure to respond as soon as possible! Get ready to create amazing stuff with me, lets continue growing.
            </p>
            <br>
            <div class="u-social-icons u-spacing-10 u-social-icons-3">
              <a class="u-social-url" target="_blank" href="">
                <span
                  class="u-icon u-icon-circle u-social-linkedin u-social-type-logo u-icon-7"
                >
                  <svg
                    class="u-svg-link"
                    preserveAspectRatio="xMidYMin slice"
                    viewBox="0 0 112 112"
                    style=""
                  >
                    <use
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      xlink:href="#svg-928a"
                    ></use>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1"
                    xml:space="preserve"
                    class="u-svg-content"
                    viewBox="0 0 112 112"
                    x="0px"
                    y="0px"
                    id="svg-928a"
                  >
                    <path
                      d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2 c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z"
                    ></path>
                  </svg>
                </span>
              </a>
              <a class="u-social-url" target="_blank" href="">
                <span
                  class="u-icon u-icon-circle u-social-twitter u-social-type-logo u-icon-8"
                >
                  <svg
                    class="u-svg-link"
                    preserveAspectRatio="xMidYMin slice"
                    viewBox="0 0 112 112"
                    style=""
                  >
                    <use
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      xlink:href="#svg-b6a5"
                    ></use>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1"
                    xml:space="preserve"
                    class="u-svg-content"
                    viewBox="0 0 112 112"
                    x="0px"
                    y="0px"
                    id="svg-b6a5"
                  >
                    <path
                      d="M92.2,38.2c0,0.8,0,1.6,0,2.3c0,24.3-18.6,52.4-52.6,52.4c-10.6,0.1-20.2-2.9-28.5-8.2 c1.4,0.2,2.9,0.2,4.4,0.2c8.7,0,16.7-2.9,23-7.9c-8.1-0.2-14.9-5.5-17.3-12.8c1.1,0.2,2.4,0.2,3.4,0.2c1.6,0,3.3-0.2,4.8-0.7 c-8.4-1.6-14.9-9.2-14.9-18c0-0.2,0-0.2,0-0.2c2.5,1.4,5.4,2.2,8.4,2.3c-5-3.3-8.3-8.9-8.3-15.4c0-3.4,1-6.5,2.5-9.2 c9.1,11.1,22.7,18.5,38,19.2c-0.2-1.4-0.4-2.8-0.4-4.3c0.1-10,8.3-18.2,18.5-18.2c5.4,0,10.1,2.2,13.5,5.7c4.3-0.8,8.1-2.3,11.7-4.5 c-1.4,4.3-4.3,7.9-8.1,10.1c3.7-0.4,7.3-1.4,10.6-2.9C98.9,32.3,95.7,35.5,92.2,38.2z"
                    ></path>
                  </svg>
                </span>
              </a>
              <a class="u-social-url" target="_blank" href="">
                <span
                  class="u-icon u-icon-circle u-social-instagram u-social-type-logo u-icon-9"
                >
                  <svg
                    class="u-svg-link"
                    preserveAspectRatio="xMidYMin slice"
                    viewBox="0 0 112 112"
                    style=""
                  >
                    <use
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      xlink:href="#svg-e300"
                    ></use>
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1"
                    xml:space="preserve"
                    class="u-svg-content"
                    viewBox="0 0 112 112"
                    x="0px"
                    y="0px"
                    id="svg-e300"
                  >
                    <path
                      d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z"
                    ></path>
                    <path
                      d="M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z"
                    ></path>
                    <path
                      d="M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7 V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7 c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z"
                    ></path>
                  </svg>
                </span>
              </a>
            </div>
          </row>
          
        </div>
      </div>
    </div>
  </section>
  <section class="u-black u-clearfix u-section-7" id="carousel_62c6">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div
              class="u-align-left u-container-style u-layout-cell u-left-cell u-size-42 u-layout-cell-1"
            >
              <div
                class="u-container-layout u-valign-middle u-container-layout-1"
              >
                <h3 class="u-text u-text-1">Support the LBTBQ+ Community</h3>
              </div>
            </div>
            <div
              class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-container-style u-layout-cell u-right-cell u-size-18 u-layout-cell-2"
            >
              <div
                class="u-container-layout u-valign-middle u-container-layout-2"
              >
                <a
                  href="https://lgbt.foundation/donate"
                  class="u-btn u-btn-rectangle u-button-style u-palette-2-light-2 u-btn-1"
                  target="_blank"
                  >Donate now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer
    class="u-align-center u-clearfix u-footer u-grey-80 u-footer"
    id="sec-0d5c"
  >
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">
        Developed with ❤️ by Alejandro Gleason. Using Node.js/Express/MongoDB.
      </p>
    </div>
  </footer>
</body>