<body
  data-home-page="Page-1.html"
  data-home-page-title="Page 1"
  class="u-body u-overlap"
>
  <header class="u-clearfix u-header u-header" id="sec-6330">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <a href="/" class="u-image u-logo u-image-1">
        <img
          src="/images/AG.png"
          class="u-logo-image u-logo-image-1"
        />
      </a>
      <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div
          class="menu-collapse"
          style="
            font-size: 1rem;
            letter-spacing: 0;
            font-weight: 700;
            text-transform: uppercase;
          "
        >
          <a
            class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-white u-text-grey-40 u-text-hover-white"
            href="#"
          >
            <svg>
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="#menu-hamburger"
              ></use>
            </svg>
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <defs>
                <symbol
                  id="menu-hamburger"
                  viewBox="0 0 16 16"
                  style="width: 16px; height: 16px;"
                >
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </symbol>
              </defs>
            </svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-spacing-0 u-unstyled u-nav-1">
            <li class="u-nav-item">
              <a
                class="u-button-style u-nav-link u-text-active-white u-text-white u-text-hover-grey-25"
                href="about-me"
                style="padding: 10px 20px;"
                >About me</a
              >
            </li>
            <li class="u-nav-item">
              <a
                class="u-button-style u-nav-link u-text-active-white u-text-white u-text-hover-grey-25"
                href="my-projects"
                style="padding: 10px 20px;"
                >Projects</a
              >
            </li>
            <!--<li class="u-nav-item">
              <a
                class="u-button-style u-nav-link u-text-active-white u-text-white u-text-hover-grey-25"
                href="my-resume"
                style="padding: 10px 20px;"
                >Resume</a
              >
            </li>
            <li class="u-nav-item">
              <a
                class="u-button-style u-nav-link u-text-active-white u-text-white u-text-hover-grey-25"
                href="lgbtq-involvement"
                style="padding: 10px 20px;"
                >LGBTQ+ Involvement</a
              >
            </li> -->
          </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div
            class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav"
          >
            <div class="u-menu-close"></div>
            <ul
              class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"
            >
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link"
                  href="about-me"
                  style="padding: 10px 20px;"
                  >About me</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link"
                  href="my-projects"
                  style="padding: 10px 20px;"
                  >Projects</a
                >
              </li>
              <!-- <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link"
                  href="my-resume"
                  style="padding: 10px 20px;"
                  >Resume</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link"
                  href="lgbtq-involvement"
                  style="padding: 10px 20px;"
                  >LGBTQ+ Involvement</a
                >
              </li> -->
            </ul>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
    </div>
  </header>
  <section class="u-clearfix u-image u-section-1" id="carousel_0cb6">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-align-center u-text u-text-body-alt-color u-text-1">
        gleason.
      </h1>
      <div
        class="u-grey u-expanded-width u-shape u-shape-rectangle u-shape-1"
      ></div>
      <div
        class="u-align-right u-container-style u-expanded-width-xs u-group u-group-1"
      >
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <p class="u-text u-text-palette-2-light-2 u-text-2">
            Learning, creating and connecting with others
            a line of code at a time.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="u-black u-clearfix u-section-4" id="carousel_1aa7">
    <div
      class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-valign-middle-xs u-sheet-1"
    >
      <div
        class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-repeater u-list-1"
      >
        <div class="u-container-style u-list-item u-repeater-item">
          <div
            class="u-container-layout u-similar-container u-container-layout-1"
          >
            <h3
              class="u-text u-text-default u-text-5"
              data-animation-name="counter"
              data-animation-event="scroll"
              data-animation-duration="3000"
            >
              52,500
            </h3>
            <h6 class="u-text u-text-default u-text-palette-2-light-2 u-text-2">
              Python
            </h6>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item">
          <div
            class="u-container-layout u-similar-container u-container-layout-2"
          >
            <h3
              class="u-text u-text-default u-text-5"
              data-animation-name="counter"
              data-animation-event="scroll"
              data-animation-duration="3000"
            >
              49,500
            </h3>
            <h6 class="u-text u-text-default u-text-palette-2-light-2 u-text-4">
              JavaScript + TypeScript
            </h6>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item">
          <div
            class="u-container-layout u-similar-container u-container-layout-3"
          >
            <h3
              class="u-text u-text-default u-text-5"
              data-animation-name="counter"
              data-animation-event="scroll"
              data-animation-duration="3000"
            >
              28,900<br />
            </h3>
            <h6 class="u-text u-text-default u-text-palette-2-light-2 u-text-6">
              C#
            </h6>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item">
          <div
            class="u-container-layout u-similar-container u-container-layout-4"
          >
            <h3
              class="u-text u-text-default u-text-5"
              data-animation-name="counter"
              data-animation-event="scroll"
              data-animation-duration="3000"
            >
              10,500
            </h3>
            <h6 class="u-text u-text-default u-text-palette-2-light-2 u-text-8">
              SQL
            </h6>
          </div>
        </div>
      </div>
      <div
        class="u-align-left u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-group-1"
      >
        <div
          class="u-container-layout u-valign-bottom-sm u-valign-bottom-xs u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-5"
        >
          <h2 class="u-text u-text-default u-text-9">
            My <b>Fantastic Four Languages</b>
          </h2>
          <p class="u-text u-text-10">
            Computer Science is a never-ending puzzle that I am passionate in solving, therefore, I always keep learning and taking on new projects. 
            Here you can see the lines of code I have developed for my most used languages. 
            Every time I finish a big project, this numbers get updated so that people can get a sense of my current skillset.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section
    class="u-clearfix u-image u-section-3"
    id="carousel_fb2c"
    data-image-width="2460"
    data-image-height="1500"
  >
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div
        class="u-align-right u-border-10 u-border-palette-2-light-2 u-container-style u-expanded-width-xs u-group u-group-1"
      >
        <div class="u-container-layout u-valign-bottom u-container-layout-1">
          <h3 class="u-text u-text-default u-text-palette-2-light-2 u-text-1">
            I believe in the power of programming to transform and improve people's lives around the world.
          </h3>
          <p
            class="u-text u-text-palette-2-light-2 u-active-none u-border-4 u-border-palette-2-light-2 u-none u-btn-1"
            >- myself</p
          >
        </div>
      </div>
    </div>
  </section>
  
  <section class="u-black u-clearfix u-section-7" id="carousel_62c6">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div
              class="u-align-left u-container-style u-layout-cell u-left-cell u-size-42 u-layout-cell-1"
            >
              <div
                class="u-container-layout u-valign-middle u-container-layout-1"
              >
                <h3 class="u-text u-text-1">Feel free to connect with me</h3>
              </div>
            </div>
            <div
              class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-container-style u-layout-cell u-right-cell u-size-18 u-layout-cell-2"
            >
              <div
                class="u-container-layout u-valign-middle u-container-layout-2"
              >
                <a
                  href="mailto:alejandrogleasonm@gmail.com"
                  class="u-btn u-btn-rectangle u-button-style u-palette-2-light-2 u-btn-1"
                  target="_blank"
                  >Lets talk!</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="u-clearfix u-section-6" id="carousel_0ac5">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <h4 class="u-text u-text-2">
        I am on my way to change the world. My dream is to work somewhere where I can 
        <b>lead with the example, deliver breakthrough results and continue motivating </b> other engineers
        to create technology that works towards a greater human purpose.
      </h4>
    </div>
  </section>


  <footer
    class="u-align-center u-clearfix u-footer u-grey-80 u-footer"
    id="sec-0d5c"
  >
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">
        Shaped with ❤️ by Alejandro Gleason <br> Using Node.js/Express/MongoDB
      </p>
    </div>
  </footer>
</body>