<body
  data-home-page="Page-1.html"
  data-home-page-title="Page 1"
  class="u-body u-overlap"
>
<header class="u-clearfix u-header u-header" id="sec-6330">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <a href="/" class="u-image u-logo u-image-1">
      <img
        src="/images/AG.png"
        class="u-logo-image u-logo-image-1"
      />
    </a>
    <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
      <div
        class="menu-collapse"
        style="
          font-size: 1rem;
          letter-spacing: 0;
          font-weight: 700;
          text-transform: uppercase;
        "
      >
        <a
          class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-white u-text-grey-40 u-text-hover-white"
          href="#"
        >
          <svg>
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="#menu-hamburger"
            ></use>
          </svg>
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <defs>
              <symbol
                id="menu-hamburger"
                viewBox="0 0 16 16"
                style="width: 16px; height: 16px;"
              >
                <rect y="1" width="16" height="2"></rect>
                <rect y="7" width="16" height="2"></rect>
                <rect y="13" width="16" height="2"></rect>
              </symbol>
            </defs>
          </svg>
        </a>
      </div>
      <div class="u-custom-menu u-nav-container">
        <ul class="u-nav u-spacing-0 u-unstyled u-nav-1">
          <li class="u-nav-item">
            <a
              class="u-button-style u-nav-link u-text-active-white u-text-white u-text-hover-grey-25"
              href="about-me"
              style="padding: 10px 20px;"
              >About me</a
            >
          </li>
          <li class="u-nav-item">
            <a
              class="u-button-style u-nav-link u-text-active-white u-text-white u-text-hover-grey-25"
              href="my-projects"
              style="padding: 10px 20px;"
              >Projects</a
            >
          </li>
          <!--<li class="u-nav-item">
            <a
              class="u-button-style u-nav-link u-text-active-white u-text-white u-text-hover-grey-25"
              href="my-resume"
              style="padding: 10px 20px;"
              >Resume</a
            >
          </li>
          <li class="u-nav-item">
            <a
              class="u-button-style u-nav-link u-text-active-white u-text-white u-text-hover-grey-25"
              href="lgbtq-involvement"
              style="padding: 10px 20px;"
              >LGBTQ+ Involvement</a
            >
          </li> -->
        </ul>
      </div>
      <div class="u-custom-menu u-nav-container-collapse">
        <div
          class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav"
        >
          <div class="u-menu-close"></div>
          <ul
            class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"
          >
            <li class="u-nav-item">
              <a
                class="u-button-style u-nav-link"
                href="about-me"
                style="padding: 10px 20px;"
                >About me</a
              >
            </li>
            <li class="u-nav-item">
              <a
                class="u-button-style u-nav-link"
                href="my-projects"
                style="padding: 10px 20px;"
                >Projects</a
              >
            </li>
            <!-- <li class="u-nav-item">
              <a
                class="u-button-style u-nav-link"
                href="my-resume"
                style="padding: 10px 20px;"
                >Resume</a
              >
            </li>
            <li class="u-nav-item">
              <a
                class="u-button-style u-nav-link"
                href="lgbtq-involvement"
                style="padding: 10px 20px;"
                >LGBTQ+ Involvement</a
              >
            </li> -->
          </ul>
        </div>
        <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
      </div>
    </nav>
  </div>
</header>

  <section class="u-black u-clearfix u-section-7" id="carousel_62c6" style="height: 100px;">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    </div>
  </section>

  <section class="u-clearfix u-section-2" id="carousel_ef27">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-left-cell u-palette-2-light-2 u-size-42 u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1"></div>
            </div>
            <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-18 u-layout-cell-2">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h2 class="u-text u-text-default u-text-1">major projects</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="u-expanded-width u-list u-repeater u-list-1">
        <div class="u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
            <img src="images/aqropio.png" alt="" class="u-expanded-width u-image u-image-default">
            <p class="u-text u-text-default u-text-2"><b>AQropio</b><br>Hybrid Mobile App developed with Ionic + Angular that motivates Queretaro citizens to dispose correctly their wastes.</p>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
            <img src="images/geACO.png" alt="" class="u-expanded-width u-image u-image-default">
            <p class="u-text u-text-default u-text-2"><b>GE Routing Tool</b><br>Optimization tool developed with advanced routing algorithms such as Ant Colony Optimization, A* and Dijkstra, among others.</p>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
            <img src="images/imoIos.png" alt="" class="u-expanded-width u-image u-image-default">
            <p class="u-text u-text-default u-text-3"><b>IMO Appointments App</b> <br>Web and mobile application (Android and iOS) that provides a modern service for generating and managing appointments.</p>
          </div>
        </div>
      </div>
      <h3 class="u-text u-text-5">More projects on the way... check again soon!</h3>
      <br>
    </div>
  </section>

  <footer
  class="u-align-center u-clearfix u-footer u-grey-80 u-footer"
  id="sec-0d5c"
>
  <div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-small-text u-text u-text-variant u-text-1">
      Made with ❤️ by Alejandro Gleason <br> Using Node.js/Express/MongoDB
    </p>
  </div>
</footer>
</body>