.u-section-1 {background-image: url("/images/eyes-portrait-person-girl-18495.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 707px}
.u-section-1 .u-text-1 {font-weight: 900; font-size: 15.625rem; line-height: 0.8; margin: 270px 0 0}
.u-section-1 .u-shape-1 {height: 10px; margin: -94px auto 0 0}
.u-section-1 .u-group-1 {width: 426px; min-height: 186px; margin: 174px 0 60px auto}
.u-section-1 .u-container-layout-1 {padding: 27px 30px}
.u-section-1 .u-text-2 {font-weight: 700; font-size: 1.4rem; margin: 0 0 0 71px}
.u-section-1 .u-btn-1 {background-image: none; border-style: none none solid; font-weight: 700; margin: 30px 0 0 auto; padding: 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 583px}
.u-section-1 .u-text-1 {font-size: 12.5rem}
.u-section-1 .u-shape-1 {margin-top: -67px; margin-right: initial; margin-left: initial}
.u-section-1 .u-group-1 {margin-top: 147px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 533px}
.u-section-1 .u-text-1 {font-size: 11.25rem} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 400px}
.u-section-1 .u-text-1 {font-size: 8.125rem}
.u-section-1 .u-shape-1 {margin-top: -43px; margin-right: initial; margin-left: initial}
.u-section-1 .u-group-1 {margin-top: 123px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 547px}
.u-section-1 .u-text-1 {font-size: 4.5rem; margin-top: 214px}
.u-section-1 .u-shape-1 {margin-top: -22px; margin-right: initial; margin-left: initial}
.u-section-1 .u-group-1 {margin-top: 43px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-text-2 {font-size: 0.875rem; margin-left: 0} }.u-section-2 .u-sheet-1 {min-height: 784px}
.u-section-2 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 0}
.u-section-2 .u-layout-cell-1 {min-height: 99px; background-image: none}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-layout-cell-2 {min-height: 99px}
.u-section-2 .u-container-layout-2 {padding: 20px}
.u-section-2 .u-text-1 {font-size: 3rem; font-weight: 900; margin: 0}
.u-section-2 .u-list-1 {min-height: 535px; grid-template-columns: repeat(3, calc(33.3333% - 7px)); grid-gap: 10px; margin: 30px auto 60px 0}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-image-1 {height: 377px; margin: 0 auto 0 0}
.u-section-2 .u-text-2 {margin-left: 0; margin-bottom: 0}
.u-section-2 .u-btn-1 {margin-left: 0; margin-right: 0; background-image: none; border-style: solid}
.u-section-2 .u-container-layout-4 {padding: 30px}
.u-section-2 .u-image-2 {height: 264px; margin: 0 auto 0 0}
.u-section-2 .u-text-3 {margin-left: 0; margin-bottom: 0}
.u-section-2 .u-btn-2 {margin-left: 0; margin-right: 0; background-image: none; border-style: solid}
.u-section-2 .u-container-layout-5 {padding: 30px}
.u-section-2 .u-image-3 {height: 377px; margin: 0 auto 0 0}
.u-section-2 .u-text-4 {margin-left: 0; margin-bottom: 0}
.u-section-2 .u-btn-3 {margin-left: 0; margin-right: 0; background-image: none; border-style: solid} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 483px}
.u-section-2 .u-layout-cell-1 {min-height: 82px}
.u-section-2 .u-layout-cell-2 {min-height: 82px}
.u-section-2 .u-list-1 {min-height: 441px; grid-template-columns: repeat(3, calc(33.333333333333336% - 7px)); height: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-1 {height: 298px; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-2 {height: 105px; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-3 {height: 298px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 464px}
.u-section-2 .u-layout-cell-1 {min-height: 63px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-list-1 {min-height: 1013px; grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px)); margin-right: initial; margin-left: initial}
.u-section-2 .u-image-1 {height: 353px; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-2 {height: 124px; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-3 {height: 353px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 627px}
.u-section-2 .u-layout-cell-1 {min-height: 68px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-list-1 {grid-template-columns: 100%; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-1 {height: 612px; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-2 {height: 215px; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-3 {height: 612px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 543px}
.u-section-2 .u-layout-cell-1 {min-height: 43px}
.u-section-2 .u-image-1 {height: 377px; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-2 {height: 132px; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-3 {height: 377px; margin-right: initial; margin-left: initial} }.u-section-3 {background-image: url("/images/1.jpg"); background-position: 50% 100%}
.u-section-3 .u-sheet-1 {min-height: 692px}
.u-section-3 .u-group-1 {width: 464px; min-height: 534px; margin: 60px 0 60px auto}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-text-1 {font-weight: 900; line-height: 1.2; font-size: 3rem; text-transform: none; margin: 0 0 0 auto}
.u-section-3 .u-btn-1 {background-image: none; border-style: none none solid; text-transform: uppercase; font-weight: 700; margin: 20px 0 0 auto; padding: 0} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 571px} }

@media (max-width: 991px){ .u-section-3 {background-position: 100% 100%}
.u-section-3 .u-sheet-1 {min-height: 437px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 328px}
.u-section-3 .u-group-1 {width: 429px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 207px}
.u-section-3 .u-group-1 {min-height: 465px; margin-right: initial; margin-left: initial; width: auto} }.u-section-4 {background-image: none}
.u-section-4 .u-sheet-1 {min-height: 632px}
.u-section-4 .u-list-1 {width: 561px; min-height: 512px; grid-template-columns: calc(((100% - 1140px) / 2) + 565px) calc(((100% - 1140px) / 2) + 565px); grid-gap: 10px 10px; margin: 60px 0 0 auto}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-text-1 {font-size: 6rem; font-weight: 900; margin: 0}
.u-section-4 .u-text-2 {margin-left: 0; margin-right: 0; margin-bottom: 0; text-transform: uppercase}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-text-3 {font-size: 6rem; font-weight: 900; margin: 0}
.u-section-4 .u-text-4 {margin-left: 0; margin-right: 0; margin-bottom: 0; text-transform: uppercase}
.u-section-4 .u-container-layout-3 {padding: 30px}
.u-section-4 .u-text-5 {font-size: 4rem; font-weight: 900; margin: 0}
.u-section-4 .u-text-6 {margin-left: 0; margin-right: 0; margin-bottom: 0; text-transform: uppercase}
.u-section-4 .u-container-layout-4 {padding: 30px}
.u-section-4 .u-text-7 {font-size: 6rem; font-weight: 900; margin: 0}
.u-section-4 .u-text-8 {margin-left: 0; margin-right: 0; margin-bottom: 0; text-transform: uppercase}
.u-section-4 .u-group-1 {width: 551px; min-height: 512px; margin: -512px auto 60px 0}
.u-section-4 .u-container-layout-5 {padding: 30px}
.u-section-4 .u-text-9 {font-size: 3rem; font-weight: 900; text-transform: none; margin: 0 auto 0 0}
.u-section-4 .u-text-10 {line-height: 1.8; font-size: 1.125rem; margin: 20px 0 0}
.u-section-4 .u-btn-1 {background-image: none; border-style: solid; margin: 20px auto 0 0} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 572px}
.u-section-4 .u-list-1 {width: 478px; grid-template-columns: repeat(2, calc(((100% - 940px) / 2) + 465px)); height: auto}
.u-section-4 .u-group-1 {width: 462px; min-height: 519px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 754px}
.u-section-4 .u-list-1 {min-height: 200px; grid-template-columns: repeat(4, calc(25% - 8px)); margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-text-1 {font-size: 3.75rem}
.u-section-4 .u-text-3 {font-size: 3.75rem}
.u-section-4 .u-text-5 {font-size: 2.75rem}
.u-section-4 .u-text-7 {font-size: 3.75rem}
.u-section-4 .u-group-1 {min-height: 405px; margin-top: -635px; margin-bottom: -145px; margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-text-10 {width: auto} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 907px}
.u-section-4 .u-list-1 {min-height: 406px; grid-template-columns: repeat(2, calc(((100% - 540px) / 2) + 265px)); margin-top: 441px; width: auto; margin-right: initial; margin-left: initial}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-group-1 {min-height: 371px; margin-top: -787px; margin-bottom: 28px; width: auto; margin-right: initial; margin-left: initial}
.u-section-4 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 1339px}
.u-section-4 .u-list-1 {min-height: 778px; grid-template-columns: 100%; margin-top: 40px; width: auto; margin-right: initial; margin-left: initial}
.u-section-4 .u-text-1 {font-size: 4.5rem}
.u-section-4 .u-text-3 {font-size: 4.5rem}
.u-section-4 .u-text-5 {font-size: 3.5rem}
.u-section-4 .u-text-7 {font-size: 4.5rem}
.u-section-4 .u-group-1 {min-height: 461px; margin-top: -1259px; margin-bottom: 357px; width: auto; margin-right: initial; margin-left: initial} }.u-section-5 {background-image: none}
.u-section-5 .u-sheet-1 {min-height: 579px}
.u-section-5 .u-text-1 {font-weight: 900; font-size: 3rem; margin: 60px 0 0}
.u-section-5 .u-text-2 {margin: 20px 0 0}
.u-section-5 .u-list-1 {margin-top: 20px; margin-bottom: 60px; min-height: 436px; grid-template-columns: repeat(4, calc(25% - 8px)); grid-gap: 10px}
.u-section-5 .u-container-layout-1 {padding: 10px}
.u-section-5 .u-image-1 {height: 316px; object-position: 50% 0%; margin: 0 auto 0 0}
.u-section-5 .u-text-3 {margin-left: 0; margin-bottom: 0; text-transform: uppercase; font-weight: 300; letter-spacing: 2px; margin-top: 20px}
.u-section-5 .u-social-icons-1 {white-space: nowrap; height: 32px; min-height: 16px; width: 116px; min-width: 68px; margin: 30px auto 0 0}
.u-section-5 .u-icon-1 {height: 100%}
.u-section-5 .u-icon-2 {height: 100%}
.u-section-5 .u-icon-3 {height: 100%}
.u-section-5 .u-container-layout-2 {padding: 10px}
.u-section-5 .u-image-2 {height: 110px; margin: 0 auto 0 0}
.u-section-5 .u-text-4 {margin-left: 0; margin-bottom: 0; text-transform: uppercase; font-weight: 300; letter-spacing: 2px; margin-top: 20px}
.u-section-5 .u-social-icons-2 {white-space: nowrap; height: 32px; min-height: 16px; width: 116px; min-width: 68px; margin: 30px auto 0 0}
.u-section-5 .u-icon-4 {height: 100%}
.u-section-5 .u-icon-5 {height: 100%}
.u-section-5 .u-icon-6 {height: 100%}
.u-section-5 .u-container-layout-3 {padding: 10px}
.u-section-5 .u-image-3 {height: 316px; margin: 0 auto 0 0}
.u-section-5 .u-text-5 {margin-left: 0; margin-bottom: 0; text-transform: uppercase; font-weight: 300; letter-spacing: 2px; margin-top: 20px}
.u-section-5 .u-social-icons-3 {white-space: nowrap; height: 16px; min-height: 16px; width: 50px; min-width: 34px; margin: 30px auto 0 0}
.u-section-5 .u-icon-7 {height: 100%}
.u-section-5 .u-icon-8 {height: 100%}
.u-section-5 .u-icon-9 {height: 100%}
.u-section-5 .u-container-layout-4 {padding: 10px}
.u-section-5 .u-image-4 {height: 316px; margin: 0 auto 0 0}
.u-section-5 .u-text-6 {margin-left: 0; margin-bottom: 0; text-transform: uppercase; font-weight: 300; letter-spacing: 2px; margin-top: 20px}
.u-section-5 .u-social-icons-4 {white-space: nowrap; height: 32px; min-height: 16px; width: 116px; min-width: 68px; margin: 30px auto 0 0}
.u-section-5 .u-icon-10 {height: 100%}
.u-section-5 .u-icon-11 {height: 100%}
.u-section-5 .u-icon-12 {height: 100%} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 503px}
.u-section-5 .u-list-1 {min-height: 360px; height: auto}
.u-section-5 .u-image-1 {height: 256px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-2 {height: 90px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-3 {height: 256px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-4 {height: 256px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 1246px}
.u-section-5 .u-list-1 {min-height: 1103px; grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px))}
.u-section-5 .u-image-1 {height: 405px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-2 {height: 142px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-3 {height: 405px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-4 {height: 405px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-5 .u-list-1 {grid-template-columns: 100%}
.u-section-5 .u-image-1 {height: 619px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-2 {height: 216px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-3 {height: 619px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-4 {height: 619px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-5 .u-image-1 {height: 381px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-2 {height: 133px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-3 {height: 381px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-4 {height: 381px; margin-right: initial; margin-left: initial} }.u-section-6 .u-sheet-1 {min-height: 686px}
.u-section-6 .u-text-1 {text-transform: uppercase; font-weight: 700; letter-spacing: 2px; margin: 60px auto 0 0}
.u-section-6 .u-text-2 {font-size: 2.25rem; font-weight: 300; margin: 70px 265px 0 0}
.u-section-6 .u-group-1 {min-height: 273px; margin: 70px auto 60px 0}
.u-section-6 .u-container-layout-1 {padding: 30px}
.u-section-6 .u-text-3 {font-size: 3rem; font-weight: 900; margin: 0 auto 0 0}
.u-section-6 .u-text-4 {margin: 20px 491px 0 0}
.u-section-6 .u-form-1 {height: 67px; margin: 20px 0 0}
.u-section-6 .u-form-group-3 {margin-left: 0}
.u-section-6 .u-btn-1 {background-image: none; border-style: none} 

@media (max-width: 1199px){ .u-section-6 .u-text-2 {margin-right: 65px}
.u-section-6 .u-group-1 {margin-right: initial; margin-left: initial}
.u-section-6 .u-text-4 {margin-right: 291px; width: 589px}
.u-section-6 .u-form-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-6 .u-text-2 {margin-right: 0}
.u-section-6 .u-text-4 {margin-right: 71px} }

@media (max-width: 767px){ .u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-text-4 {margin-right: 0; width: 520px} }

@media (max-width: 575px){ .u-section-6 .u-text-2 {font-size: 1.875rem}
.u-section-6 .u-text-3 {font-size: 1.5rem}
.u-section-6 .u-text-4 {width: 320px}
.u-section-6 .u-form-group-1 {width: 100%}
.u-section-6 .u-form-group-2 {width: 100%}
.u-section-6 .u-form-group-3 {width: 100%}
.u-section-6 .u-form-group-4 {width: 100%} }.u-section-7 {background-image: none}
.u-section-7 .u-sheet-1 {min-height: 194px}
.u-section-7 .u-layout-wrap-1 {margin: 30px 0}
.u-section-7 .u-layout-cell-1 {min-height: 134px}
.u-section-7 .u-container-layout-1 {padding: 30px}
.u-section-7 .u-text-1 {font-size: 3rem; font-weight: 900; margin: 0}
.u-section-7 .u-layout-cell-2 {min-height: 134px}
.u-section-7 .u-container-layout-2 {padding: 30px}
.u-section-7 .u-btn-1 {background-image: none; border-style: none; text-transform: uppercase; font-weight: 700; margin: 0 auto} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 131px}
.u-section-7 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-7 .u-layout-cell-1 {min-height: 100px}
.u-section-7 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 991px){ .u-section-7 .u-sheet-1 {min-height: 149px} }

@media (max-width: 767px){ .u-section-7 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-btn-1 {margin-left: 0} }

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 124px} }